In [1]:
#common line in python code 
print("hello world!")

hello world!

In [1]:
#basic of variables 
num_1 = 980
num_2 = 769
#adding two numbers 
answer = num_1 + num_2 
print(answer)

1749

In [3]:
#identification of datatype case 1
value_1 = type(2346)
print(value_1)

<class 'int'>

In [7]:
#case 2
value_2 = type(True)
print(value_2)

<class 'bool'>

In [8]:
#case 3
value_3 = type("Hello world!")
print(value_3)

<class 'str'>

In [9]:
#case 4
value_4 = type(748.76)
print(value_4)

<class 'float'>

In [13]:
#addition of numbers 
val1 = 22
val2 = 44
sum = val1 + val2
print(sum)

66

In [14]:
#divison rule 
num1 = 16
num2 = 4
div = num1/num2
print(div)

4.0

In [19]:
#slicing the strings
sentence = "My name is \nxyz"
print(sentence)

My name is
xyz

In [20]:
print("Hello \nprogrammers!")

Hello
programmers!

In [23]:
print("hello buddies!\nwellcome to my github profile")

hello buddies!
wellcome to my github profile

In [2]:
#basic string method 
sentence = "My name is Shreya sharma"
#using upper function
value = sentence.upper()
print(value)

MY NAME IS SHREYA SHARMA

In [3]:
#using lower function by taking user input
Name = str(input("enter your name: "))
print(Name.lower())

enter your name: SHREYA SHARMA
shreya sharma

In [31]:
#using capitalizing function 
sen = "this Is a Sentence"
print(sen.capitalize())

This is a sentence